.signup__bg{
    background: url('../project_assets/login.svg');
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden
}